<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="background-image">
    <br>
    <header>
        <div class="header-container">
            <h1 class="center-button" style="text-align: center; font-family:serif; font-size: 38px;  width: 680px; border-radius: 12px;">
                <i class="fa fa-user-graduate" style='font-size:36px' ></i>   STUDENT REGISTRATION PORTAL
            </h1>
            <div class="button-container">
                <button class="center-button" style="color: rgb(14, 16, 15); width: 100px; height: 40px; background-color: rgb(178, 228, 253); border-radius: 40px;" (click)="navigateToLogin()">
                    <b style="font-family: 'Times New Roman', Times, serif;">LOGIN</b>
                </button>
                <button class="center-button" style="color:  rgb(14, 16, 15); width: 100px; height: 40px; background-color: rgb(178, 228, 253); border-radius: 40px;" (click)="navigateToSignUp()">
                    <b style="font-family:'Times New Roman', Times, serif;">SIGN UP</b>
                </button>
            </div>
        </div>
    </header>
    
<br><br>
<div class="alin" style="text-align: center;">
   
    <div class="text">
        A student registration portal is an online platform designed to facilitate the registration process for students. It is commonly used by educational institutions such as schools, colleges, and universities to streamline the enrollment of students into various academic programs or courses.
    <br><br><br><br>
    </div>

</div>
    <td><img style="width: 1px; height: 56px;" [src]="adminPhotoUrl" alt="Admin Photo"></td>
</div>


  